body {font-family: "Lato", sans-serif}
.mySlides {display: none}

.w3-circle {
border-radius: 50%;
}

.hovericons {
    transition: 0.2s;
}

.hovericons:hover {
    transform: scale(0.85);
    transition: 0.2s;
}

.hovericons2 {
    transition: 0.2s;
}

.hovericons2:hover {
    transform: scale(1.15);
    transition: 0.2s;
}
